<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yogamitra">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="YogaMitra"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YogaMitra">
        <activity android:name=".dailyvedio"></activity>
        <activity android:name=".depvedio" />
        <activity android:name=".Obesityvedio" />
        <activity android:name=".Breathvedio" />
        <activity android:name=".Bodypainvedio" />
        <activity android:name=".Diabetesvedio" />
        <activity android:name=".StartActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ObesityActivity" />
        <activity android:name=".LogActivity" />
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".diabetesActivity" />
        <activity android:name=".DetailsActivity" />
        <activity android:name=".depressionActivity" />
        <activity android:name=".dailyActivity" />
        <activity android:name=".breathActivity" />
        <activity android:name=".BodyPainsActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>